body {
    background-color: #FFD56F;
}

hr  {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;

}

img:hover {
    background-color: gold;
}
 /*Class Selector*/
.avatar1 {
    background-color: green;
}

.avatar2 {
    background-color: red;
}

/*ID Selector*/

#heading {
    color: blue;
}

#test {
    font-size: 200px;
    color: red;
}

#test:hover {
    color: green;
}

#1:focus {
    color: lightblue;
}